body {
    background-image: radial-gradient(circle at 39.39% 37.35%, #ffc400 0, #ffb200 16.67%, #f8a000 33.33%, #ed8c0c 50%, #e17915 66.67%, #d5681b 83.33%, #cb5920 100%);
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: white;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
    font-size: 4rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 2.2rem;
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}